openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: http://www.dummy-server.com
    description: Generated server url
paths:
  /api/person:
    get:
      tags:
        - person-controller
      operationId: getPerson
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Person'
    post:
      tags:
        - person-controller
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Person'
  /api/welcome:
    get:
      tags:
        - welcome-auth-controller
      operationId: welcome
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /api/report:
    get:
      tags:
        - report-controller
      operationId: generateReport
      parameters:
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1000
      responses:
        "200":
          description: OK
  /api/msgraph:
    get:
      tags:
        - ms-graph-controller
      operationId: me
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
  /api/msgraph/profilephoto:
    get:
      tags:
        - ms-graph-controller
      operationId: getProfilePhoto
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProfilePhoto'
  /api/msgraph/principal:
    get:
      tags:
        - ms-graph-controller
      operationId: getPrincipal
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OidcUser'
  /api/msgraph/photo:
    get:
      tags:
        - ms-graph-controller
      operationId: getImageAsByteArray
      responses:
        "200":
          description: OK
  /api/msgraph/memberof:
    get:
      tags:
        - ms-graph-controller
      operationId: getMemberOf
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DirectoryObjectCollectionWithReferencesPage'
  /api/msgraph/appRoleAssignments:
    get:
      tags:
        - ms-graph-controller
      operationId: getAppRoleAssignments
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppRoleAssignmentCollectionPage'
components:
  schemas:
    Person:
      type: object
      properties:
        id:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        age:
          type: integer
          format: int32
        visits:
          type: integer
          format: int32
        progress:
          type: integer
          format: int32
        status:
          type: string
        address:
          type: string
        email:
          type: string
        admin:
          type: boolean
    AccessAction:
      type: object
      properties:
        oDataType:
          type: string
    ActivityHistoryItem:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        activeDurationSeconds:
          type: integer
          format: int32
        createdDateTime:
          type: string
          format: date-time
        expirationDateTime:
          type: string
          format: date-time
        lastActiveDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        startedDateTime:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - ACTIVE
            - UPDATED
            - DELETED
            - IGNORED
            - UNKNOWN_FUTURE_VALUE
            - UNEXPECTED_VALUE
        userTimezone:
          type: string
        activity:
          $ref: '#/components/schemas/UserActivity'
    ActivityHistoryItemCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ActivityHistoryItemCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/ActivityHistoryItem'
    ActivityHistoryItemCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    AgreementAcceptance:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        agreementFileId:
          type: string
        agreementId:
          type: string
        deviceDisplayName:
          type: string
        deviceId:
          type: string
        deviceOSType:
          type: string
        deviceOSVersion:
          type: string
        expirationDateTime:
          type: string
          format: date-time
        recordedDateTime:
          type: string
          format: date-time
        state:
          type: string
          enum:
            - ACCEPTED
            - DECLINED
            - UNKNOWN_FUTURE_VALUE
            - UNEXPECTED_VALUE
        userDisplayName:
          type: string
        userEmail:
          type: string
        userId:
          type: string
        userPrincipalName:
          type: string
    AgreementAcceptanceCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/AgreementAcceptanceCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/AgreementAcceptance'
    AgreementAcceptanceCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    Album:
      type: object
      properties:
        oDataType:
          type: string
        coverImageItemId:
          type: string
    AlternativeSecurityId:
      type: object
      properties:
        oDataType:
          type: string
        identityProvider:
          type: string
        key:
          type: array
          items:
            type: string
            format: byte
        type:
          type: integer
          format: int32
    AppIdentity:
      type: object
      properties:
        oDataType:
          type: string
        appId:
          type: string
        displayName:
          type: string
        servicePrincipalId:
          type: string
        servicePrincipalName:
          type: string
    AppRoleAssignment:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        deletedDateTime:
          type: string
          format: date-time
        appRoleId:
          type: string
          format: uuid
        createdDateTime:
          type: string
          format: date-time
        principalDisplayName:
          type: string
        principalId:
          type: string
          format: uuid
        principalType:
          type: string
        resourceDisplayName:
          type: string
        resourceId:
          type: string
          format: uuid
    AppRoleAssignmentCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/AppRoleAssignmentCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/AppRoleAssignment'
    AppRoleAssignmentCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    AssignedLabel:
      type: object
      properties:
        oDataType:
          type: string
        displayName:
          type: string
        labelId:
          type: string
    AssignedLicense:
      type: object
      properties:
        oDataType:
          type: string
        disabledPlans:
          type: array
          items:
            type: string
            format: uuid
        skuId:
          type: string
          format: uuid
    AssignedPlan:
      type: object
      properties:
        oDataType:
          type: string
        assignedDateTime:
          type: string
          format: date-time
        capabilityStatus:
          type: string
        service:
          type: string
        servicePlanId:
          type: string
          format: uuid
    AssociatedTeamInfo:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        displayName:
          type: string
        tenantId:
          type: string
        team:
          $ref: '#/components/schemas/Team'
    AssociatedTeamInfoCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/AssociatedTeamInfoCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/AssociatedTeamInfo'
    AssociatedTeamInfoCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    Attachment:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        contentType:
          type: string
        isInline:
          type: boolean
        lastModifiedDateTime:
          type: string
          format: date-time
        name:
          type: string
        size:
          type: integer
          format: int32
    AttachmentBase:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        contentType:
          type: string
        lastModifiedDateTime:
          type: string
          format: date-time
        name:
          type: string
        size:
          type: integer
          format: int32
    AttachmentBaseCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/AttachmentBaseCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentBase'
    AttachmentBaseCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    AttachmentCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/AttachmentCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
    AttachmentCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    AttachmentSession:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        expirationDateTime:
          type: string
          format: date-time
        nextExpectedRanges:
          type: array
          items:
            type: string
    AttachmentSessionCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/AttachmentSessionCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentSession'
    AttachmentSessionCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    AttendanceInterval:
      type: object
      properties:
        oDataType:
          type: string
        durationInSeconds:
          type: integer
          format: int32
        joinDateTime:
          type: string
          format: date-time
        leaveDateTime:
          type: string
          format: date-time
    AttendanceRecord:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        attendanceIntervals:
          type: array
          items:
            $ref: '#/components/schemas/AttendanceInterval'
        emailAddress:
          type: string
        identity:
          $ref: '#/components/schemas/Identity'
        role:
          type: string
        totalAttendanceInSeconds:
          type: integer
          format: int32
    AttendanceRecordCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/AttendanceRecordCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/AttendanceRecord'
    AttendanceRecordCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    Attendee:
      type: object
      properties:
        oDataType:
          type: string
        emailAddress:
          $ref: '#/components/schemas/EmailAddress'
        type:
          type: string
          enum:
            - REQUIRED
            - OPTIONAL
            - RESOURCE
            - UNEXPECTED_VALUE
        proposedNewTime:
          $ref: '#/components/schemas/TimeSlot'
        status:
          $ref: '#/components/schemas/ResponseStatus'
    Audio:
      type: object
      properties:
        oDataType:
          type: string
        album:
          type: string
        albumArtist:
          type: string
        artist:
          type: string
        bitrate:
          type: integer
          format: int64
        composers:
          type: string
        copyright:
          type: string
        disc:
          type: integer
          format: int32
        discCount:
          type: integer
          format: int32
        duration:
          type: integer
          format: int64
        genre:
          type: string
        hasDrm:
          type: boolean
        isVariableBitrate:
          type: boolean
        title:
          type: string
        track:
          type: integer
          format: int32
        trackCount:
          type: integer
          format: int32
        year:
          type: integer
          format: int32
    AudioConferencing:
      type: object
      properties:
        oDataType:
          type: string
        conferenceId:
          type: string
        dialinUrl:
          type: string
        tollFreeNumber:
          type: string
        tollFreeNumbers:
          type: array
          items:
            type: string
        tollNumber:
          type: string
        tollNumbers:
          type: array
          items:
            type: string
    Authentication:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        emailMethods:
          $ref: '#/components/schemas/EmailAuthenticationMethodCollectionPage'
        fido2Methods:
          $ref: '#/components/schemas/Fido2AuthenticationMethodCollectionPage'
        methods:
          $ref: '#/components/schemas/AuthenticationMethodCollectionPage'
        microsoftAuthenticatorMethods:
          $ref: '#/components/schemas/MicrosoftAuthenticatorAuthenticationMethodCollectionPage'
        operations:
          $ref: '#/components/schemas/LongRunningOperationCollectionPage'
        passwordMethods:
          $ref: '#/components/schemas/PasswordAuthenticationMethodCollectionPage'
        phoneMethods:
          $ref: '#/components/schemas/PhoneAuthenticationMethodCollectionPage'
        softwareOathMethods:
          $ref: '#/components/schemas/SoftwareOathAuthenticationMethodCollectionPage'
        temporaryAccessPassMethods:
          $ref: '#/components/schemas/TemporaryAccessPassAuthenticationMethodCollectionPage'
        windowsHelloForBusinessMethods:
          $ref: '#/components/schemas/WindowsHelloForBusinessAuthenticationMethodCollectionPage'
    AuthenticationMethod:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
    AuthenticationMethodCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/AuthenticationMethodCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/AuthenticationMethod'
    AuthenticationMethodCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    AuthorizationInfo:
      type: object
      properties:
        oDataType:
          type: string
        certificateUserIds:
          type: array
          items:
            type: string
    AutomaticRepliesSetting:
      type: object
      properties:
        oDataType:
          type: string
        externalAudience:
          type: string
          enum:
            - NONE
            - CONTACTS_ONLY
            - ALL
            - UNEXPECTED_VALUE
        externalReplyMessage:
          type: string
        internalReplyMessage:
          type: string
        scheduledEndDateTime:
          $ref: '#/components/schemas/DateTimeTimeZone'
        scheduledStartDateTime:
          $ref: '#/components/schemas/DateTimeTimeZone'
        status:
          type: string
          enum:
            - DISABLED
            - ALWAYS_ENABLED
            - SCHEDULED
            - UNEXPECTED_VALUE
    BaseItem:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        createdBy:
          $ref: '#/components/schemas/IdentitySet'
        createdDateTime:
          type: string
          format: date-time
        description:
          type: string
        eTag:
          type: string
        lastModifiedBy:
          $ref: '#/components/schemas/IdentitySet'
        lastModifiedDateTime:
          type: string
          format: date-time
        name:
          type: string
        parentReference:
          $ref: '#/components/schemas/ItemReference'
        webUrl:
          type: string
        createdByUser:
          $ref: '#/components/schemas/User'
        lastModifiedByUser:
          $ref: '#/components/schemas/User'
    BaseItemCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/BaseItemCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/BaseItem'
    BaseItemCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    BooleanColumn:
      type: object
      properties:
        oDataType:
          type: string
    BroadcastMeetingCaptionSettings:
      type: object
      properties:
        oDataType:
          type: string
        isCaptionEnabled:
          type: boolean
        spokenLanguage:
          type: string
        translationLanguages:
          type: array
          items:
            type: string
    BroadcastMeetingSettings:
      type: object
      properties:
        oDataType:
          type: string
        allowedAudience:
          type: string
          enum:
            - ROLE_IS_ATTENDEE
            - ORGANIZATION
            - EVERYONE
            - UNKNOWN_FUTURE_VALUE
            - UNEXPECTED_VALUE
        captions:
          $ref: '#/components/schemas/BroadcastMeetingCaptionSettings'
        isAttendeeReportEnabled:
          type: boolean
        isQuestionAndAnswerEnabled:
          type: boolean
        isRecordingEnabled:
          type: boolean
        isVideoOnDemandEnabled:
          type: boolean
    Bundle:
      type: object
      properties:
        oDataType:
          type: string
        album:
          $ref: '#/components/schemas/Album'
        childCount:
          type: integer
          format: int32
    CalculatedColumn:
      type: object
      properties:
        oDataType:
          type: string
        format:
          type: string
        formula:
          type: string
        outputType:
          type: string
    Calendar:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        allowedOnlineMeetingProviders:
          type: array
          items:
            type: string
            enum:
              - UNKNOWN
              - SKYPE_FOR_BUSINESS
              - SKYPE_FOR_CONSUMER
              - TEAMS_FOR_BUSINESS
              - UNEXPECTED_VALUE
        canEdit:
          type: boolean
        canShare:
          type: boolean
        canViewPrivateItems:
          type: boolean
        changeKey:
          type: string
        color:
          type: string
          enum:
            - AUTO
            - LIGHT_BLUE
            - LIGHT_GREEN
            - LIGHT_ORANGE
            - LIGHT_GRAY
            - LIGHT_YELLOW
            - LIGHT_TEAL
            - LIGHT_PINK
            - LIGHT_BROWN
            - LIGHT_RED
            - MAX_COLOR
            - UNEXPECTED_VALUE
        defaultOnlineMeetingProvider:
          type: string
          enum:
            - UNKNOWN
            - SKYPE_FOR_BUSINESS
            - SKYPE_FOR_CONSUMER
            - TEAMS_FOR_BUSINESS
            - UNEXPECTED_VALUE
        hexColor:
          type: string
        isDefaultCalendar:
          type: boolean
        isRemovable:
          type: boolean
        isTallyingResponses:
          type: boolean
        name:
          type: string
        owner:
          $ref: '#/components/schemas/EmailAddress'
        calendarPermissions:
          $ref: '#/components/schemas/CalendarPermissionCollectionPage'
        calendarView:
          $ref: '#/components/schemas/EventCollectionPage'
        events:
          $ref: '#/components/schemas/EventCollectionPage'
        multiValueExtendedProperties:
          $ref: '#/components/schemas/MultiValueLegacyExtendedPropertyCollectionPage'
        singleValueExtendedProperties:
          $ref: '#/components/schemas/SingleValueLegacyExtendedPropertyCollectionPage'
    CalendarCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/CalendarCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/Calendar'
    CalendarCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    CalendarGroup:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        changeKey:
          type: string
        classId:
          type: string
          format: uuid
        name:
          type: string
        calendars:
          $ref: '#/components/schemas/CalendarCollectionPage'
    CalendarGroupCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/CalendarGroupCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/CalendarGroup'
    CalendarGroupCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    CalendarPermission:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        allowedRoles:
          type: array
          items:
            type: string
            enum:
              - NONE
              - FREE_BUSY_READ
              - LIMITED_READ
              - READ
              - WRITE
              - DELEGATE_WITHOUT_PRIVATE_EVENT_ACCESS
              - DELEGATE_WITH_PRIVATE_EVENT_ACCESS
              - CUSTOM
              - UNEXPECTED_VALUE
        emailAddress:
          $ref: '#/components/schemas/EmailAddress'
        isInsideOrganization:
          type: boolean
        isRemovable:
          type: boolean
        role:
          type: string
          enum:
            - NONE
            - FREE_BUSY_READ
            - LIMITED_READ
            - READ
            - WRITE
            - DELEGATE_WITHOUT_PRIVATE_EVENT_ACCESS
            - DELEGATE_WITH_PRIVATE_EVENT_ACCESS
            - CUSTOM
            - UNEXPECTED_VALUE
    CalendarPermissionCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/CalendarPermissionCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/CalendarPermission'
    CalendarPermissionCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    CallRecording:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        createdDateTime:
          type: string
          format: date-time
        meetingId:
          type: string
        meetingOrganizer:
          $ref: '#/components/schemas/IdentitySet'
        recordingContentUrl:
          type: string
    CallRecordingCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/CallRecordingCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/CallRecording'
    CallRecordingCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    CallTranscript:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        createdDateTime:
          type: string
          format: date-time
        meetingId:
          type: string
        meetingOrganizer:
          $ref: '#/components/schemas/IdentitySet'
        transcriptContentUrl:
          type: string
    CallTranscriptCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/CallTranscriptCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/CallTranscript'
    CallTranscriptCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    Channel:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        createdDateTime:
          type: string
          format: date-time
        description:
          type: string
        displayName:
          type: string
        email:
          type: string
        isFavoriteByDefault:
          type: boolean
        membershipType:
          type: string
          enum:
            - STANDARD
            - PRIVATE
            - UNKNOWN_FUTURE_VALUE
            - SHARED
            - UNEXPECTED_VALUE
        summary:
          $ref: '#/components/schemas/ChannelSummary'
        tenantId:
          type: string
        webUrl:
          type: string
        filesFolder:
          $ref: '#/components/schemas/DriveItem'
        members:
          $ref: '#/components/schemas/ConversationMemberCollectionPage'
        messages:
          $ref: '#/components/schemas/ChatMessageCollectionPage'
        sharedWithTeams:
          $ref: '#/components/schemas/SharedWithChannelTeamInfoCollectionPage'
        tabs:
          $ref: '#/components/schemas/TeamsTabCollectionPage'
    ChannelCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ChannelCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
    ChannelCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
        allMessages:
          $ref: '#/components/schemas/ChannelGetAllMessagesCollectionRequestBuilder'
    ChannelGetAllMessagesCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ChannelIdentity:
      type: object
      properties:
        oDataType:
          type: string
        channelId:
          type: string
        teamId:
          type: string
    ChannelSummary:
      type: object
      properties:
        oDataType:
          type: string
        guestsCount:
          type: integer
          format: int32
        hasMembersFromOtherTenants:
          type: boolean
        membersCount:
          type: integer
          format: int32
        ownersCount:
          type: integer
          format: int32
    Chat:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        chatType:
          type: string
          enum:
            - ONE_ON_ONE
            - GROUP
            - MEETING
            - UNKNOWN_FUTURE_VALUE
            - UNEXPECTED_VALUE
        createdDateTime:
          type: string
          format: date-time
        lastUpdatedDateTime:
          type: string
          format: date-time
        onlineMeetingInfo:
          $ref: '#/components/schemas/TeamworkOnlineMeetingInfo'
        tenantId:
          type: string
        topic:
          type: string
        viewpoint:
          $ref: '#/components/schemas/ChatViewpoint'
        webUrl:
          type: string
        installedApps:
          $ref: '#/components/schemas/TeamsAppInstallationCollectionPage'
        lastMessagePreview:
          $ref: '#/components/schemas/ChatMessageInfo'
        members:
          $ref: '#/components/schemas/ConversationMemberCollectionPage'
        messages:
          $ref: '#/components/schemas/ChatMessageCollectionPage'
        permissionGrants:
          $ref: '#/components/schemas/ResourceSpecificPermissionGrantCollectionPage'
        pinnedMessages:
          $ref: '#/components/schemas/PinnedChatMessageInfoCollectionPage'
        tabs:
          $ref: '#/components/schemas/TeamsTabCollectionPage'
    ChatCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ChatCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/Chat'
    ChatCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
        allMessages:
          $ref: '#/components/schemas/ChatGetAllMessagesCollectionRequestBuilder'
    ChatGetAllMessagesCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ChatInfo:
      type: object
      properties:
        oDataType:
          type: string
        messageId:
          type: string
        replyChainMessageId:
          type: string
        threadId:
          type: string
    ChatMessage:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessageAttachment'
        body:
          $ref: '#/components/schemas/ItemBody'
        channelIdentity:
          $ref: '#/components/schemas/ChannelIdentity'
        chatId:
          type: string
        createdDateTime:
          type: string
          format: date-time
        deletedDateTime:
          type: string
          format: date-time
        etag:
          type: string
        eventDetail:
          $ref: '#/components/schemas/EventMessageDetail'
        from:
          $ref: '#/components/schemas/ChatMessageFromIdentitySet'
        importance:
          type: string
          enum:
            - NORMAL
            - HIGH
            - URGENT
            - UNKNOWN_FUTURE_VALUE
            - UNEXPECTED_VALUE
        lastEditedDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        locale:
          type: string
        mentions:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessageMention'
        messageHistory:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessageHistoryItem'
        messageType:
          type: string
          enum:
            - MESSAGE
            - CHAT_EVENT
            - TYPING
            - UNKNOWN_FUTURE_VALUE
            - SYSTEM_EVENT_MESSAGE
            - UNEXPECTED_VALUE
        policyViolation:
          $ref: '#/components/schemas/ChatMessagePolicyViolation'
        reactions:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessageReaction'
        replyToId:
          type: string
        subject:
          type: string
        summary:
          type: string
        webUrl:
          type: string
        hostedContents:
          $ref: '#/components/schemas/ChatMessageHostedContentCollectionPage'
        replies:
          $ref: '#/components/schemas/ChatMessageCollectionPage'
    ChatMessageAttachment:
      type: object
      properties:
        oDataType:
          type: string
        content:
          type: string
        contentType:
          type: string
        contentUrl:
          type: string
        id:
          type: string
        name:
          type: string
        teamsAppId:
          type: string
        thumbnailUrl:
          type: string
    ChatMessageCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ChatMessageCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
    ChatMessageCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ChatMessageFromIdentitySet:
      type: object
      properties:
        oDataType:
          type: string
        application:
          $ref: '#/components/schemas/Identity'
        device:
          $ref: '#/components/schemas/Identity'
        user:
          $ref: '#/components/schemas/Identity'
    ChatMessageHistoryItem:
      type: object
      properties:
        oDataType:
          type: string
        actions:
          type: array
          items:
            type: string
            enum:
              - REACTION_ADDED
              - REACTION_REMOVED
              - ACTION_UNDEFINED
              - UNKNOWN_FUTURE_VALUE
              - UNEXPECTED_VALUE
        modifiedDateTime:
          type: string
          format: date-time
        reaction:
          $ref: '#/components/schemas/ChatMessageReaction'
    ChatMessageHostedContent:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        contentBytes:
          type: array
          items:
            type: string
            format: byte
        contentType:
          type: string
    ChatMessageHostedContentCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ChatMessageHostedContentCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessageHostedContent'
    ChatMessageHostedContentCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ChatMessageInfo:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        body:
          $ref: '#/components/schemas/ItemBody'
        createdDateTime:
          type: string
          format: date-time
        eventDetail:
          $ref: '#/components/schemas/EventMessageDetail'
        from:
          $ref: '#/components/schemas/ChatMessageFromIdentitySet'
        isDeleted:
          type: boolean
        messageType:
          type: string
          enum:
            - MESSAGE
            - CHAT_EVENT
            - TYPING
            - UNKNOWN_FUTURE_VALUE
            - SYSTEM_EVENT_MESSAGE
            - UNEXPECTED_VALUE
    ChatMessageMention:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: integer
          format: int32
        mentioned:
          $ref: '#/components/schemas/ChatMessageMentionedIdentitySet'
        mentionText:
          type: string
    ChatMessageMentionedIdentitySet:
      type: object
      properties:
        oDataType:
          type: string
        application:
          $ref: '#/components/schemas/Identity'
        device:
          $ref: '#/components/schemas/Identity'
        user:
          $ref: '#/components/schemas/Identity'
        conversation:
          $ref: '#/components/schemas/TeamworkConversationIdentity'
    ChatMessagePolicyViolation:
      type: object
      properties:
        oDataType:
          type: string
        dlpAction:
          type: array
          items:
            type: string
            enum:
              - NONE
              - NOTIFY_SENDER
              - BLOCK_ACCESS
              - BLOCK_ACCESS_EXTERNAL
              - UNEXPECTED_VALUE
        justificationText:
          type: string
        policyTip:
          $ref: '#/components/schemas/ChatMessagePolicyViolationPolicyTip'
        userAction:
          type: array
          items:
            type: string
            enum:
              - NONE
              - OVERRIDE
              - REPORT_FALSE_POSITIVE
              - UNEXPECTED_VALUE
        verdictDetails:
          type: array
          items:
            type: string
            enum:
              - NONE
              - ALLOW_FALSE_POSITIVE_OVERRIDE
              - ALLOW_OVERRIDE_WITHOUT_JUSTIFICATION
              - ALLOW_OVERRIDE_WITH_JUSTIFICATION
              - UNEXPECTED_VALUE
    ChatMessagePolicyViolationPolicyTip:
      type: object
      properties:
        oDataType:
          type: string
        complianceUrl:
          type: string
        generalText:
          type: string
        matchedConditionDescriptions:
          type: array
          items:
            type: string
    ChatMessageReaction:
      type: object
      properties:
        oDataType:
          type: string
        createdDateTime:
          type: string
          format: date-time
        reactionType:
          type: string
        user:
          $ref: '#/components/schemas/ChatMessageReactionIdentitySet'
    ChatMessageReactionIdentitySet:
      type: object
      properties:
        oDataType:
          type: string
        application:
          $ref: '#/components/schemas/Identity'
        device:
          $ref: '#/components/schemas/Identity'
        user:
          $ref: '#/components/schemas/Identity'
    ChatViewpoint:
      type: object
      properties:
        oDataType:
          type: string
        isHidden:
          type: boolean
        lastMessageReadDateTime:
          type: string
          format: date-time
    ChecklistItem:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        checkedDateTime:
          type: string
          format: date-time
        createdDateTime:
          type: string
          format: date-time
        displayName:
          type: string
        isChecked:
          type: boolean
    ChecklistItemCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ChecklistItemCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/ChecklistItem'
    ChecklistItemCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ChoiceColumn:
      type: object
      properties:
        oDataType:
          type: string
        allowTextEntry:
          type: boolean
        choices:
          type: array
          items:
            type: string
        displayAs:
          type: string
    ColumnDefinition:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        msgraphBoolean:
          $ref: '#/components/schemas/BooleanColumn'
        calculated:
          $ref: '#/components/schemas/CalculatedColumn'
        choice:
          $ref: '#/components/schemas/ChoiceColumn'
        columnGroup:
          type: string
        contentApprovalStatus:
          $ref: '#/components/schemas/ContentApprovalStatusColumn'
        currency:
          $ref: '#/components/schemas/CurrencyColumn'
        dateTime:
          $ref: '#/components/schemas/DateTimeColumn'
        defaultValue:
          $ref: '#/components/schemas/DefaultColumnValue'
        description:
          type: string
        displayName:
          type: string
        enforceUniqueValues:
          type: boolean
        geolocation:
          $ref: '#/components/schemas/GeolocationColumn'
        hidden:
          type: boolean
        hyperlinkOrPicture:
          $ref: '#/components/schemas/HyperlinkOrPictureColumn'
        indexed:
          type: boolean
        isDeletable:
          type: boolean
        isReorderable:
          type: boolean
        isSealed:
          type: boolean
        lookup:
          $ref: '#/components/schemas/LookupColumn'
        name:
          type: string
        number:
          $ref: '#/components/schemas/NumberColumn'
        personOrGroup:
          $ref: '#/components/schemas/PersonOrGroupColumn'
        propagateChanges:
          type: boolean
        readOnly:
          type: boolean
        required:
          type: boolean
        sourceContentType:
          $ref: '#/components/schemas/ContentTypeInfo'
        term:
          $ref: '#/components/schemas/TermColumn'
        text:
          $ref: '#/components/schemas/TextColumn'
        thumbnail:
          $ref: '#/components/schemas/ThumbnailColumn'
        type:
          type: string
          enum:
            - NOTE
            - TEXT
            - CHOICE
            - MULTICHOICE
            - NUMBER
            - CURRENCY
            - DATE_TIME
            - LOOKUP
            - BOOLEAN
            - USER
            - URL
            - CALCULATED
            - LOCATION
            - GEOLOCATION
            - TERM
            - MULTITERM
            - THUMBNAIL
            - APPROVAL_STATUS
            - UNKNOWN_FUTURE_VALUE
            - UNEXPECTED_VALUE
        validation:
          $ref: '#/components/schemas/ColumnValidation'
        sourceColumn:
          $ref: '#/components/schemas/ColumnDefinition'
    ColumnDefinitionCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ColumnDefinitionCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/ColumnDefinition'
    ColumnDefinitionCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ColumnLink:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        name:
          type: string
    ColumnLinkCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ColumnLinkCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/ColumnLink'
    ColumnLinkCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ColumnValidation:
      type: object
      properties:
        oDataType:
          type: string
        defaultLanguage:
          type: string
        descriptions:
          type: array
          items:
            $ref: '#/components/schemas/DisplayNameLocalization'
        formula:
          type: string
    ConfigurationManagerClientEnabledFeatures:
      type: object
      properties:
        oDataType:
          type: string
        compliancePolicy:
          type: boolean
        deviceConfiguration:
          type: boolean
        inventory:
          type: boolean
        modernApps:
          type: boolean
        resourceAccess:
          type: boolean
        windowsUpdateForBusiness:
          type: boolean
    Contact:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        categories:
          type: array
          items:
            type: string
        changeKey:
          type: string
        createdDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        assistantName:
          type: string
        birthday:
          type: string
          format: date-time
        businessAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        businessHomePage:
          type: string
        businessPhones:
          type: array
          items:
            type: string
        children:
          type: array
          items:
            type: string
        companyName:
          type: string
        department:
          type: string
        displayName:
          type: string
        emailAddresses:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        fileAs:
          type: string
        generation:
          type: string
        givenName:
          type: string
        homeAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        homePhones:
          type: array
          items:
            type: string
        imAddresses:
          type: array
          items:
            type: string
        initials:
          type: string
        jobTitle:
          type: string
        manager:
          type: string
        middleName:
          type: string
        mobilePhone:
          type: string
        nickName:
          type: string
        officeLocation:
          type: string
        otherAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        parentFolderId:
          type: string
        personalNotes:
          type: string
        profession:
          type: string
        spouseName:
          type: string
        surname:
          type: string
        title:
          type: string
        yomiCompanyName:
          type: string
        yomiGivenName:
          type: string
        yomiSurname:
          type: string
        extensions:
          $ref: '#/components/schemas/ExtensionCollectionPage'
        multiValueExtendedProperties:
          $ref: '#/components/schemas/MultiValueLegacyExtendedPropertyCollectionPage'
        photo:
          $ref: '#/components/schemas/ProfilePhoto'
        singleValueExtendedProperties:
          $ref: '#/components/schemas/SingleValueLegacyExtendedPropertyCollectionPage'
    ContactCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ContactCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    ContactCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ContactFolder:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        displayName:
          type: string
        parentFolderId:
          type: string
        childFolders:
          $ref: '#/components/schemas/ContactFolderCollectionPage'
        contacts:
          $ref: '#/components/schemas/ContactCollectionPage'
        multiValueExtendedProperties:
          $ref: '#/components/schemas/MultiValueLegacyExtendedPropertyCollectionPage'
        singleValueExtendedProperties:
          $ref: '#/components/schemas/SingleValueLegacyExtendedPropertyCollectionPage'
    ContactFolderCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ContactFolderCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/ContactFolder'
    ContactFolderCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ContentApprovalStatusColumn:
      type: object
      properties:
        oDataType:
          type: string
    ContentType:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        associatedHubsUrls:
          type: array
          items:
            type: string
        description:
          type: string
        documentSet:
          $ref: '#/components/schemas/DocumentSet'
        documentTemplate:
          $ref: '#/components/schemas/DocumentSetContent'
        group:
          type: string
        hidden:
          type: boolean
        inheritedFrom:
          $ref: '#/components/schemas/ItemReference'
        isBuiltIn:
          type: boolean
        name:
          type: string
        order:
          $ref: '#/components/schemas/ContentTypeOrder'
        parentId:
          type: string
        propagateChanges:
          type: boolean
        readOnly:
          type: boolean
        sealed:
          type: boolean
        base:
          $ref: '#/components/schemas/ContentType'
        baseTypes:
          $ref: '#/components/schemas/ContentTypeCollectionPage'
        columnLinks:
          $ref: '#/components/schemas/ColumnLinkCollectionPage'
        columnPositions:
          $ref: '#/components/schemas/ColumnDefinitionCollectionPage'
        columns:
          $ref: '#/components/schemas/ColumnDefinitionCollectionPage'
    ContentTypeCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ContentTypeCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/ContentType'
    ContentTypeCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
        compatibleHubContentTypes:
          $ref: '#/components/schemas/ContentTypeGetCompatibleHubContentTypesCollectionRequestBuilder'
    ContentTypeGetCompatibleHubContentTypesCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ContentTypeInfo:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        name:
          type: string
    ContentTypeOrder:
      type: object
      properties:
        oDataType:
          type: string
        msgraphDefault:
          type: boolean
        position:
          type: integer
          format: int32
    Conversation:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        hasAttachments:
          type: boolean
        lastDeliveredDateTime:
          type: string
          format: date-time
        preview:
          type: string
        topic:
          type: string
        uniqueSenders:
          type: array
          items:
            type: string
        threads:
          $ref: '#/components/schemas/ConversationThreadCollectionPage'
    ConversationCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ConversationCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/Conversation'
    ConversationCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ConversationMember:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        displayName:
          type: string
        roles:
          type: array
          items:
            type: string
        visibleHistoryStartDateTime:
          type: string
          format: date-time
    ConversationMemberCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ConversationMemberCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/ConversationMember'
    ConversationMemberCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ConversationThread:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        ccRecipients:
          type: array
          items:
            $ref: '#/components/schemas/Recipient'
        hasAttachments:
          type: boolean
        isLocked:
          type: boolean
        lastDeliveredDateTime:
          type: string
          format: date-time
        preview:
          type: string
        topic:
          type: string
        toRecipients:
          type: array
          items:
            $ref: '#/components/schemas/Recipient'
        uniqueSenders:
          type: array
          items:
            type: string
        posts:
          $ref: '#/components/schemas/PostCollectionPage'
    ConversationThreadCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ConversationThreadCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/ConversationThread'
    ConversationThreadCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    CurrencyColumn:
      type: object
      properties:
        oDataType:
          type: string
        locale:
          type: string
    CustomSecurityAttributeValue:
      type: object
      properties:
        oDataType:
          type: string
    DateOnly:
      type: object
      properties:
        year:
          type: integer
          format: int32
        month:
          type: integer
          format: int32
        day:
          type: integer
          format: int32
    DateTimeColumn:
      type: object
      properties:
        oDataType:
          type: string
        displayAs:
          type: string
        format:
          type: string
    DateTimeTimeZone:
      type: object
      properties:
        oDataType:
          type: string
        dateTime:
          type: string
        timeZone:
          type: string
    DefaultColumnValue:
      type: object
      properties:
        oDataType:
          type: string
        formula:
          type: string
        value:
          type: string
    Deleted:
      type: object
      properties:
        oDataType:
          type: string
        state:
          type: string
    Device:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        deletedDateTime:
          type: string
          format: date-time
        accountEnabled:
          type: boolean
        alternativeSecurityIds:
          type: array
          items:
            $ref: '#/components/schemas/AlternativeSecurityId'
        approximateLastSignInDateTime:
          type: string
          format: date-time
        complianceExpirationDateTime:
          type: string
          format: date-time
        deviceCategory:
          type: string
        deviceId:
          type: string
        deviceMetadata:
          type: string
        deviceOwnership:
          type: string
        deviceVersion:
          type: integer
          format: int32
        displayName:
          type: string
        enrollmentProfileName:
          type: string
        isCompliant:
          type: boolean
        isManaged:
          type: boolean
        mdmAppId:
          type: string
        onPremisesLastSyncDateTime:
          type: string
          format: date-time
        onPremisesSyncEnabled:
          type: boolean
        operatingSystem:
          type: string
        operatingSystemVersion:
          type: string
        physicalIds:
          type: array
          items:
            type: string
        profileType:
          type: string
        registrationDateTime:
          type: string
          format: date-time
        systemLabels:
          type: array
          items:
            type: string
        trustType:
          type: string
        memberOf:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        registeredOwners:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        registeredUsers:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        transitiveMemberOf:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        extensions:
          $ref: '#/components/schemas/ExtensionCollectionPage'
    DeviceActionResult:
      type: object
      properties:
        oDataType:
          type: string
        actionName:
          type: string
        actionState:
          type: string
          enum:
            - NONE
            - PENDING
            - CANCELED
            - ACTIVE
            - DONE
            - FAILED
            - NOT_SUPPORTED
            - UNEXPECTED_VALUE
        lastUpdatedDateTime:
          type: string
          format: date-time
        startDateTime:
          type: string
          format: date-time
    DeviceCategory:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        description:
          type: string
        displayName:
          type: string
    DeviceCompliancePolicySettingState:
      type: object
      properties:
        oDataType:
          type: string
        currentValue:
          type: string
        errorCode:
          type: integer
          format: int64
        errorDescription:
          type: string
        instanceDisplayName:
          type: string
        setting:
          type: string
        settingName:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/SettingSource'
        state:
          type: string
          enum:
            - UNKNOWN
            - NOT_APPLICABLE
            - COMPLIANT
            - REMEDIATED
            - NON_COMPLIANT
            - ERROR
            - CONFLICT
            - NOT_ASSIGNED
            - UNEXPECTED_VALUE
        userEmail:
          type: string
        userId:
          type: string
        userName:
          type: string
        userPrincipalName:
          type: string
    DeviceCompliancePolicyState:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        displayName:
          type: string
        platformType:
          type: string
          enum:
            - ANDROID
            - ANDROID_FOR_WORK
            - I_OS
            - MAC_OS
            - WINDOWS_PHONE81
            - WINDOWS81_AND_LATER
            - WINDOWS10_AND_LATER
            - ALL
            - UNEXPECTED_VALUE
        settingCount:
          type: integer
          format: int32
        settingStates:
          type: array
          items:
            $ref: '#/components/schemas/DeviceCompliancePolicySettingState'
        state:
          type: string
          enum:
            - UNKNOWN
            - NOT_APPLICABLE
            - COMPLIANT
            - REMEDIATED
            - NON_COMPLIANT
            - ERROR
            - CONFLICT
            - NOT_ASSIGNED
            - UNEXPECTED_VALUE
        version:
          type: integer
          format: int32
    DeviceCompliancePolicyStateCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/DeviceCompliancePolicyStateCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/DeviceCompliancePolicyState'
    DeviceCompliancePolicyStateCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    DeviceConfigurationSettingState:
      type: object
      properties:
        oDataType:
          type: string
        currentValue:
          type: string
        errorCode:
          type: integer
          format: int64
        errorDescription:
          type: string
        instanceDisplayName:
          type: string
        setting:
          type: string
        settingName:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/SettingSource'
        state:
          type: string
          enum:
            - UNKNOWN
            - NOT_APPLICABLE
            - COMPLIANT
            - REMEDIATED
            - NON_COMPLIANT
            - ERROR
            - CONFLICT
            - NOT_ASSIGNED
            - UNEXPECTED_VALUE
        userEmail:
          type: string
        userId:
          type: string
        userName:
          type: string
        userPrincipalName:
          type: string
    DeviceConfigurationState:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        displayName:
          type: string
        platformType:
          type: string
          enum:
            - ANDROID
            - ANDROID_FOR_WORK
            - I_OS
            - MAC_OS
            - WINDOWS_PHONE81
            - WINDOWS81_AND_LATER
            - WINDOWS10_AND_LATER
            - ALL
            - UNEXPECTED_VALUE
        settingCount:
          type: integer
          format: int32
        settingStates:
          type: array
          items:
            $ref: '#/components/schemas/DeviceConfigurationSettingState'
        state:
          type: string
          enum:
            - UNKNOWN
            - NOT_APPLICABLE
            - COMPLIANT
            - REMEDIATED
            - NON_COMPLIANT
            - ERROR
            - CONFLICT
            - NOT_ASSIGNED
            - UNEXPECTED_VALUE
        version:
          type: integer
          format: int32
    DeviceConfigurationStateCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/DeviceConfigurationStateCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/DeviceConfigurationState'
    DeviceConfigurationStateCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    DeviceHealthAttestationState:
      type: object
      properties:
        oDataType:
          type: string
        attestationIdentityKey:
          type: string
        bitLockerStatus:
          type: string
        bootAppSecurityVersion:
          type: string
        bootDebugging:
          type: string
        bootManagerSecurityVersion:
          type: string
        bootManagerVersion:
          type: string
        bootRevisionListInfo:
          type: string
        codeIntegrity:
          type: string
        codeIntegrityCheckVersion:
          type: string
        codeIntegrityPolicy:
          type: string
        contentNamespaceUrl:
          type: string
        contentVersion:
          type: string
        dataExcutionPolicy:
          type: string
        deviceHealthAttestationStatus:
          type: string
        earlyLaunchAntiMalwareDriverProtection:
          type: string
        healthAttestationSupportedStatus:
          type: string
        healthStatusMismatchInfo:
          type: string
        issuedDateTime:
          type: string
          format: date-time
        lastUpdateDateTime:
          type: string
        operatingSystemKernelDebugging:
          type: string
        operatingSystemRevListInfo:
          type: string
        pcr0:
          type: string
        pcrHashAlgorithm:
          type: string
        resetCount:
          type: integer
          format: int64
        restartCount:
          type: integer
          format: int64
        safeMode:
          type: string
        secureBoot:
          type: string
        secureBootConfigurationPolicyFingerPrint:
          type: string
        testSigning:
          type: string
        tpmVersion:
          type: string
        virtualSecureMode:
          type: string
        windowsPE:
          type: string
    DeviceLogCollectionResponse:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        enrolledByUser:
          type: string
        expirationDateTimeUTC:
          type: string
          format: date-time
        initiatedByUserPrincipalName:
          type: string
        managedDeviceId:
          type: string
          format: uuid
        receivedDateTimeUTC:
          type: string
          format: date-time
        requestedDateTimeUTC:
          type: string
          format: date-time
        sizeInKB:
          type: number
          format: double
        status:
          type: string
          enum:
            - PENDING
            - COMPLETED
            - FAILED
            - UNKNOWN_FUTURE_VALUE
            - UNEXPECTED_VALUE
    DeviceLogCollectionResponseCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/DeviceLogCollectionResponseCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/DeviceLogCollectionResponse'
    DeviceLogCollectionResponseCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    DeviceManagementTroubleshootingEvent:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        correlationId:
          type: string
        eventDateTime:
          type: string
          format: date-time
    DeviceManagementTroubleshootingEventCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/DeviceManagementTroubleshootingEventCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/DeviceManagementTroubleshootingEvent'
    DeviceManagementTroubleshootingEventCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    DirectoryObject:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        deletedDateTime:
          type: string
          format: date-time
    DirectoryObjectCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/DirectoryObjectCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/DirectoryObject'
    DirectoryObjectCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    DisplayNameLocalization:
      type: object
      properties:
        oDataType:
          type: string
        displayName:
          type: string
        languageTag:
          type: string
    DocumentSet:
      type: object
      properties:
        oDataType:
          type: string
        allowedContentTypes:
          type: array
          items:
            $ref: '#/components/schemas/ContentTypeInfo'
        defaultContents:
          type: array
          items:
            $ref: '#/components/schemas/DocumentSetContent'
        propagateWelcomePageChanges:
          type: boolean
        shouldPrefixNameToFile:
          type: boolean
        welcomePageUrl:
          type: string
        sharedColumns:
          $ref: '#/components/schemas/ColumnDefinitionCollectionPage'
        welcomePageColumns:
          $ref: '#/components/schemas/ColumnDefinitionCollectionPage'
    DocumentSetContent:
      type: object
      properties:
        oDataType:
          type: string
        contentType:
          $ref: '#/components/schemas/ContentTypeInfo'
        fileName:
          type: string
        folderName:
          type: string
    DocumentSetVersion:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        lastModifiedBy:
          $ref: '#/components/schemas/IdentitySet'
        lastModifiedDateTime:
          type: string
          format: date-time
        publication:
          $ref: '#/components/schemas/PublicationFacet'
        fields:
          $ref: '#/components/schemas/FieldValueSet'
        comment:
          type: string
        createdBy:
          $ref: '#/components/schemas/IdentitySet'
        createdDateTime:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: '#/components/schemas/DocumentSetVersionItem'
        shouldCaptureMinorVersion:
          type: boolean
    DocumentSetVersionCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/DocumentSetVersionCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/DocumentSetVersion'
    DocumentSetVersionCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    DocumentSetVersionItem:
      type: object
      properties:
        oDataType:
          type: string
        itemId:
          type: string
        title:
          type: string
        versionId:
          type: string
    Drive:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        createdBy:
          $ref: '#/components/schemas/IdentitySet'
        createdDateTime:
          type: string
          format: date-time
        description:
          type: string
        eTag:
          type: string
        lastModifiedBy:
          $ref: '#/components/schemas/IdentitySet'
        lastModifiedDateTime:
          type: string
          format: date-time
        name:
          type: string
        parentReference:
          $ref: '#/components/schemas/ItemReference'
        webUrl:
          type: string
        createdByUser:
          $ref: '#/components/schemas/User'
        lastModifiedByUser:
          $ref: '#/components/schemas/User'
        driveType:
          type: string
        owner:
          $ref: '#/components/schemas/IdentitySet'
        quota:
          $ref: '#/components/schemas/Quota'
        sharePointIds:
          $ref: '#/components/schemas/SharepointIds'
        system:
          $ref: '#/components/schemas/SystemFacet'
        bundles:
          $ref: '#/components/schemas/DriveItemCollectionPage'
        following:
          $ref: '#/components/schemas/DriveItemCollectionPage'
        items:
          $ref: '#/components/schemas/DriveItemCollectionPage'
        list:
          $ref: '#/components/schemas/List'
        root:
          $ref: '#/components/schemas/DriveItem'
        special:
          $ref: '#/components/schemas/DriveItemCollectionPage'
    DriveCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/DriveCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/Drive'
    DriveCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    DriveItem:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        createdBy:
          $ref: '#/components/schemas/IdentitySet'
        createdDateTime:
          type: string
          format: date-time
        description:
          type: string
        eTag:
          type: string
        lastModifiedBy:
          $ref: '#/components/schemas/IdentitySet'
        lastModifiedDateTime:
          type: string
          format: date-time
        name:
          type: string
        parentReference:
          $ref: '#/components/schemas/ItemReference'
        webUrl:
          type: string
        createdByUser:
          $ref: '#/components/schemas/User'
        lastModifiedByUser:
          $ref: '#/components/schemas/User'
        audio:
          $ref: '#/components/schemas/Audio'
        bundle:
          $ref: '#/components/schemas/Bundle'
        cTag:
          type: string
        deleted:
          $ref: '#/components/schemas/Deleted'
        file:
          $ref: '#/components/schemas/File'
        fileSystemInfo:
          $ref: '#/components/schemas/FileSystemInfo'
        folder:
          $ref: '#/components/schemas/Folder'
        image:
          $ref: '#/components/schemas/Image'
        location:
          $ref: '#/components/schemas/GeoCoordinates'
        malware:
          $ref: '#/components/schemas/Malware'
        msgraphPackage:
          $ref: '#/components/schemas/Package'
        pendingOperations:
          $ref: '#/components/schemas/PendingOperations'
        photo:
          $ref: '#/components/schemas/Photo'
        publication:
          $ref: '#/components/schemas/PublicationFacet'
        remoteItem:
          $ref: '#/components/schemas/RemoteItem'
        root:
          $ref: '#/components/schemas/Root'
        searchResult:
          $ref: '#/components/schemas/SearchResult'
        shared:
          $ref: '#/components/schemas/Shared'
        sharepointIds:
          $ref: '#/components/schemas/SharepointIds'
        size:
          type: integer
          format: int64
        specialFolder:
          $ref: '#/components/schemas/SpecialFolder'
        video:
          $ref: '#/components/schemas/Video'
        webDavUrl:
          type: string
        workbook:
          $ref: '#/components/schemas/Workbook'
        analytics:
          $ref: '#/components/schemas/ItemAnalytics'
        children:
          $ref: '#/components/schemas/DriveItemCollectionPage'
        listItem:
          $ref: '#/components/schemas/ListItem'
        permissions:
          $ref: '#/components/schemas/PermissionCollectionPage'
        retentionLabel:
          $ref: '#/components/schemas/ItemRetentionLabel'
        subscriptions:
          $ref: '#/components/schemas/SubscriptionCollectionPage'
        thumbnails:
          $ref: '#/components/schemas/ThumbnailSetCollectionPage'
        versions:
          $ref: '#/components/schemas/DriveItemVersionCollectionPage'
    DriveItemCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/DriveItemCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/DriveItem'
    DriveItemCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    DriveItemVersion:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        lastModifiedBy:
          $ref: '#/components/schemas/IdentitySet'
        lastModifiedDateTime:
          type: string
          format: date-time
        publication:
          $ref: '#/components/schemas/PublicationFacet'
        size:
          type: integer
          format: int64
    DriveItemVersionCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/DriveItemVersionCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/DriveItemVersion'
    DriveItemVersionCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    EmailAddress:
      type: object
      properties:
        oDataType:
          type: string
        address:
          type: string
        name:
          type: string
    EmailAuthenticationMethod:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        emailAddress:
          type: string
    EmailAuthenticationMethodCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/EmailAuthenticationMethodCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/EmailAuthenticationMethod'
    EmailAuthenticationMethodCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    EmployeeExperienceUser:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        learningCourseActivities:
          $ref: '#/components/schemas/LearningCourseActivityCollectionPage'
    EmployeeOrgData:
      type: object
      properties:
        oDataType:
          type: string
        costCenter:
          type: string
        division:
          type: string
    Entity:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
    Event:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        categories:
          type: array
          items:
            type: string
        changeKey:
          type: string
        createdDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        allowNewTimeProposals:
          type: boolean
        attendees:
          type: array
          items:
            $ref: '#/components/schemas/Attendee'
        body:
          $ref: '#/components/schemas/ItemBody'
        bodyPreview:
          type: string
        end:
          $ref: '#/components/schemas/DateTimeTimeZone'
        hasAttachments:
          type: boolean
        hideAttendees:
          type: boolean
        iCalUId:
          type: string
        importance:
          type: string
          enum:
            - LOW
            - NORMAL
            - HIGH
            - UNEXPECTED_VALUE
        isAllDay:
          type: boolean
        isCancelled:
          type: boolean
        isDraft:
          type: boolean
        isOnlineMeeting:
          type: boolean
        isOrganizer:
          type: boolean
        isReminderOn:
          type: boolean
        location:
          $ref: '#/components/schemas/Location'
        locations:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        onlineMeeting:
          $ref: '#/components/schemas/OnlineMeetingInfo'
        onlineMeetingProvider:
          type: string
          enum:
            - UNKNOWN
            - SKYPE_FOR_BUSINESS
            - SKYPE_FOR_CONSUMER
            - TEAMS_FOR_BUSINESS
            - UNEXPECTED_VALUE
        onlineMeetingUrl:
          type: string
        organizer:
          $ref: '#/components/schemas/Recipient'
        originalEndTimeZone:
          type: string
        originalStart:
          type: string
          format: date-time
        originalStartTimeZone:
          type: string
        recurrence:
          $ref: '#/components/schemas/PatternedRecurrence'
        reminderMinutesBeforeStart:
          type: integer
          format: int32
        responseRequested:
          type: boolean
        responseStatus:
          $ref: '#/components/schemas/ResponseStatus'
        sensitivity:
          type: string
          enum:
            - NORMAL
            - PERSONAL
            - PRIVATE
            - CONFIDENTIAL
            - UNEXPECTED_VALUE
        seriesMasterId:
          type: string
        showAs:
          type: string
          enum:
            - UNKNOWN
            - FREE
            - TENTATIVE
            - BUSY
            - OOF
            - WORKING_ELSEWHERE
            - UNEXPECTED_VALUE
        start:
          $ref: '#/components/schemas/DateTimeTimeZone'
        subject:
          type: string
        transactionId:
          type: string
        type:
          type: string
          enum:
            - SINGLE_INSTANCE
            - OCCURRENCE
            - EXCEPTION
            - SERIES_MASTER
            - UNEXPECTED_VALUE
        webLink:
          type: string
        attachments:
          $ref: '#/components/schemas/AttachmentCollectionPage'
        calendar:
          $ref: '#/components/schemas/Calendar'
        extensions:
          $ref: '#/components/schemas/ExtensionCollectionPage'
        instances:
          $ref: '#/components/schemas/EventCollectionPage'
        multiValueExtendedProperties:
          $ref: '#/components/schemas/MultiValueLegacyExtendedPropertyCollectionPage'
        singleValueExtendedProperties:
          $ref: '#/components/schemas/SingleValueLegacyExtendedPropertyCollectionPage'
    EventCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/EventCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/Event'
    EventCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    EventMessageDetail:
      type: object
      properties:
        oDataType:
          type: string
    Extension:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
    ExtensionCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/ExtensionCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/Extension'
    ExtensionCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    ExternalLink:
      type: object
      properties:
        oDataType:
          type: string
        href:
          type: string
    Fido2AuthenticationMethod:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        aaGuid:
          type: string
        attestationCertificates:
          type: array
          items:
            type: string
        attestationLevel:
          type: string
          enum:
            - ATTESTED
            - NOT_ATTESTED
            - UNKNOWN_FUTURE_VALUE
            - UNEXPECTED_VALUE
        createdDateTime:
          type: string
          format: date-time
        displayName:
          type: string
        model:
          type: string
    Fido2AuthenticationMethodCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/Fido2AuthenticationMethodCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/Fido2AuthenticationMethod'
    Fido2AuthenticationMethodCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    FieldValueSet:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
    File:
      type: object
      properties:
        oDataType:
          type: string
        hashes:
          $ref: '#/components/schemas/Hashes'
        mimeType:
          type: string
        processingMetadata:
          type: boolean
    FileSystemInfo:
      type: object
      properties:
        oDataType:
          type: string
        createdDateTime:
          type: string
          format: date-time
        lastAccessedDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
    Folder:
      type: object
      properties:
        oDataType:
          type: string
        childCount:
          type: integer
          format: int32
        view:
          $ref: '#/components/schemas/FolderView'
    FolderView:
      type: object
      properties:
        oDataType:
          type: string
        sortBy:
          type: string
        sortOrder:
          type: string
        viewType:
          type: string
    FollowupFlag:
      type: object
      properties:
        oDataType:
          type: string
        completedDateTime:
          $ref: '#/components/schemas/DateTimeTimeZone'
        dueDateTime:
          $ref: '#/components/schemas/DateTimeTimeZone'
        flagStatus:
          type: string
          enum:
            - NOT_FLAGGED
            - COMPLETE
            - FLAGGED
            - UNEXPECTED_VALUE
        startDateTime:
          $ref: '#/components/schemas/DateTimeTimeZone'
    GeoCoordinates:
      type: object
      properties:
        oDataType:
          type: string
        altitude:
          type: number
          format: double
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
    GeolocationColumn:
      type: object
      properties:
        oDataType:
          type: string
    Group:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        deletedDateTime:
          type: string
          format: date-time
        assignedLabels:
          type: array
          items:
            $ref: '#/components/schemas/AssignedLabel'
        assignedLicenses:
          type: array
          items:
            $ref: '#/components/schemas/AssignedLicense'
        classification:
          type: string
        createdDateTime:
          type: string
          format: date-time
        description:
          type: string
        displayName:
          type: string
        expirationDateTime:
          type: string
          format: date-time
        groupTypes:
          type: array
          items:
            type: string
        hasMembersWithLicenseErrors:
          type: boolean
        isAssignableToRole:
          type: boolean
        licenseProcessingState:
          $ref: '#/components/schemas/LicenseProcessingState'
        mail:
          type: string
        mailEnabled:
          type: boolean
        mailNickname:
          type: string
        membershipRule:
          type: string
        membershipRuleProcessingState:
          type: string
        onPremisesDomainName:
          type: string
        onPremisesLastSyncDateTime:
          type: string
          format: date-time
        onPremisesNetBiosName:
          type: string
        onPremisesProvisioningErrors:
          type: array
          items:
            $ref: '#/components/schemas/OnPremisesProvisioningError'
        onPremisesSamAccountName:
          type: string
        onPremisesSecurityIdentifier:
          type: string
        onPremisesSyncEnabled:
          type: boolean
        preferredDataLocation:
          type: string
        preferredLanguage:
          type: string
        proxyAddresses:
          type: array
          items:
            type: string
        renewedDateTime:
          type: string
          format: date-time
        securityEnabled:
          type: boolean
        securityIdentifier:
          type: string
        serviceProvisioningErrors:
          type: array
          items:
            $ref: '#/components/schemas/ServiceProvisioningError'
        theme:
          type: string
        visibility:
          type: string
        allowExternalSenders:
          type: boolean
        autoSubscribeNewMembers:
          type: boolean
        hideFromAddressLists:
          type: boolean
        hideFromOutlookClients:
          type: boolean
        isSubscribedByMail:
          type: boolean
        unseenCount:
          type: integer
          format: int32
        isArchived:
          type: boolean
        appRoleAssignments:
          $ref: '#/components/schemas/AppRoleAssignmentCollectionPage'
        createdOnBehalfOf:
          $ref: '#/components/schemas/DirectoryObject'
        memberOf:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        members:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        membersWithLicenseErrors:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        owners:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        permissionGrants:
          $ref: '#/components/schemas/ResourceSpecificPermissionGrantCollectionPage'
        settings:
          $ref: '#/components/schemas/GroupSettingCollectionPage'
        transitiveMemberOf:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        transitiveMembers:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        acceptedSenders:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        calendar:
          $ref: '#/components/schemas/Calendar'
        calendarView:
          $ref: '#/components/schemas/EventCollectionPage'
        conversations:
          $ref: '#/components/schemas/ConversationCollectionPage'
        events:
          $ref: '#/components/schemas/EventCollectionPage'
        rejectedSenders:
          $ref: '#/components/schemas/DirectoryObjectCollectionPage'
        threads:
          $ref: '#/components/schemas/ConversationThreadCollectionPage'
        drive:
          $ref: '#/components/schemas/Drive'
        drives:
          $ref: '#/components/schemas/DriveCollectionPage'
        sites:
          $ref: '#/components/schemas/SiteCollectionPage'
        extensions:
          $ref: '#/components/schemas/ExtensionCollectionPage'
        groupLifecyclePolicies:
          $ref: '#/components/schemas/GroupLifecyclePolicyCollectionPage'
        planner:
          $ref: '#/components/schemas/PlannerGroup'
        onenote:
          $ref: '#/components/schemas/Onenote'
        photo:
          $ref: '#/components/schemas/ProfilePhoto'
        photos:
          $ref: '#/components/schemas/ProfilePhotoCollectionPage'
        team:
          $ref: '#/components/schemas/Team'
    GroupCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/GroupCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/Group'
    GroupCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    GroupLifecyclePolicy:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        alternateNotificationEmails:
          type: string
        groupLifetimeInDays:
          type: integer
          format: int32
        managedGroupTypes:
          type: string
    GroupLifecyclePolicyCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/GroupLifecyclePolicyCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/GroupLifecyclePolicy'
    GroupLifecyclePolicyCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    GroupSetting:
      type: object
      properties:
        oDataType:
          type: string
        id:
          type: string
        displayName:
          type: string
        templateId:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/SettingValue'
    GroupSettingCollectionPage:
      type: object
      properties:
        count:
          type: integer
          format: int64
        nextPage:
          $ref: '#/components/schemas/GroupSettingCollectionRequestBuilder'
        currentPage:
          type: array
          items:
            $ref: '#/components/schemas/GroupSetting'
    GroupSettingCollectionRequestBuilder:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/IBaseClientObject'
        requestUrl:
          type: string
    Hashes:
      type: object
      properties:
        oDataType:
          type: string
        crc32Hash:
          type: string
        quickXorHash:
          type: string
        sha1Hash:
          type: string
        sha256Hash:
          type: string
    HyperlinkOrPictureColumn:
      type: object
      properties:
        oDataType:
          type: string
        isPicture:
          type: boolean
    IBaseClientObject:
      type: object
      properties:
        logger:
          $ref: '#/components/schemas/ILogger'
        serializer:
          $ref: '#/components/schemas/ISerializer'
        serviceSDKVersion:
          type: string
        serviceRoot:
          type: string
        httpProvider:
          $ref: '#/components/schemas/IHttpProviderObject'
    IHttpProviderObject:
      type: object
      properties:
        serializer:
[...]
